[submodule "pack/saji/start/grep"]
	path = pack/saji/start/grep
	url = https://github.com/yegappan/grep.git
[submodule "pack/saji/start/coc"]
	path = pack/saji/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/saji/start/fugitive"]
	path = pack/saji/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/saji/start/vim-polyglot"]
	path = pack/saji/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/saji/start/vim-surround"]
	path = pack/saji/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/saji/start/fzf.vim"]
	path = pack/saji/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/saji/start/fzf"]
	path = pack/saji/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/saji/start/vim-gitgutter"]
	path = pack/saji/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/saji/start/diffconflicts"]
	path = pack/saji/start/diffconflicts
	url = https://github.com/whiteinge/diffconflicts
[submodule "pack/saji/start/tcomment_vim"]
	path = pack/saji/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "pack/saji/start/keepcase.vim"]
	path = pack/saji/start/keepcase.vim
	url = https://github.com/vim-scripts/keepcase.vim
[submodule "pack/saji/start/CamelCaseMotion"]
	path = pack/saji/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "pack/saji/start/vim-rhubarb"]
	path = pack/saji/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/saji/start/vim-editorconfig"]
	path = pack/saji/start/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig
[submodule "pack/saji/start/vim-gist"]
	path = pack/saji/start/vim-gist
	url = git@github.com:mattn/vim-gist.git
[submodule "pack/saji/start/webapi-vim"]
	path = pack/saji/start/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
[submodule "pack/saji/start/coc-diagnostic"]
	path = pack/saji/start/coc-diagnostic
	url = https://github.com/iamcco/coc-diagnostic
[submodule "pack/saji/start/confluencewiki.vim"]
	path = pack/saji/start/confluencewiki.vim
	url = https://github.com/vim-scripts/confluencewiki.vim
[submodule "pack/saji/start/vim-varnish"]
	path = pack/saji/start/vim-varnish
	url = https://github.com/fgsch/vim-varnish
