[submodule "pack/ale"]
	path = pack/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/saji/start/grep"]
	path = pack/saji/start/grep
	url = https://github.com/yegappan/grep.git
[submodule "pack/saji/start/coc"]
	path = pack/saji/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/saji/start/fugitive"]
	path = pack/saji/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/saji/.vim/pack/saji/start/vim-polyglot"]
	path = /home/saji/.vim/pack/saji/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "/home/saji/.vim/pack/saji/start/ale"]
	path = /home/saji/.vim/pack/saji/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "/home/saji/.vim/pack/saji/start/vim-surround"]
	path = /home/saji/.vim/pack/saji/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/home/saji/.vim/pack/saji/start/fzf.vim"]
	path = /home/saji/.vim/pack/saji/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "/home/saji/.vim/pack/saji/start/fzf"]
	path = /home/saji/.vim/pack/saji/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "/home/saji/.vim/pack/saji/start/vim-gitgutter"]
	path = /home/saji/.vim/pack/saji/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
